.animation {

    &--text {

        &.split[show-element] {
            visibility: hidden;
        
            &.words {
                .word {
                    display: inline-block;
                    overflow: hidden;
                    vertical-align: top;
        
                    span {
                        display: inline-block;
                        transform: translate3d(0, 150%, 0) rotate(-4deg);
                        transition: transform var(--animation-property);
                    }
                }
        
                &.is-in-view {
                    visibility: visible;
            
                    .word.is-show span {
                        transform: translate3d(0, 0, 0);
                    }
                }
            }

            &.text-italic {
                .word {
                    span {
                        padding: 0 0.6rem;
                    }
                }
            }
        }
    }

    &--fade-up {
        opacity: 0;
        transform: translate3d(0, var(--spacing-l), 0);
        transition: opacity var(--animation-property), transform var(--animation-property);

        &.is-in-view {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    &--image {
        &--fade-up {
            right: 40%;
            bottom: -20rem;
            // opacity: 0;
            transform: rotate(0);
            transition: all var(--animation-property);

            @media (min-width: 1024px) {
                right: 21rem;
                bottom: -20rem;
            }

            &.is-in-view {
                // opacity: 1;

                &.rotate-1 {
                    right: 32.5rem;
                    bottom: -10rem;
                    transform: rotate(-10deg);

                    @media (min-width: 1024px) {
                        right: 32.5rem;
                    }
                }

                &.rotate-2 {
                    right: 2.4rem;
                    bottom: 6rem;
                    transform: rotate(10deg);

                    @media (min-width: 1024px) {
                        right: 10rem;
                        bottom: 21rem;
                    }
                }
            }
        }

        &--full {
            .image--shader {
                opacity: 1;
                transition: opacity var(--animation-property);
            }

            &.is-in-view {
                .image--shader {
                    opacity: 0;
                }
            }
        }
    }
}
