.button {
    transition-duration: 0.92s;
    transition-property: cubic-bezier(0.16, 1, 0.3, 1);
    
    @apply relative flex justify-center items-center gap-[1rem] w-[21.3rem] h-[21.3rem] border border-white text-white rounded-full transition overflow-hidden;

    path { @apply transition ease-in-out; }

    svg {
        @apply w-auto h-[1.4rem];
    }

    &::before {
        content: "";

        @apply absolute top-0 left-0 -z-10 w-full h-full bg-primary rounded-full scale-0 opacity-0 transition-all origin-center ease-out;
    }

    @media (hover: hover) {
        &:hover {
            @apply text-white;

            path { @apply stroke-white; }

            &::before {
                @apply scale-100 opacity-100;
            }
        }
    }

    &--primary {
        @apply border border-primary text-white;
        
        path { @apply stroke-white; }

        &::before {
            @apply bg-white;
        }

        @media (hover: hover) {
            &:hover {
                @apply border-white text-primary;
    
                path { @apply stroke-primary; }
            }
        }
    }

    &--dark {
        @apply border border-primary text-primary bg-transparent;

        path { @apply stroke-primary; }

        @media (hover: hover) {
            &:hover {
                @apply text-white;
    
                path { @apply stroke-white; }
            }
        }
    }

    &--light {
        @apply border border-white text-white bg-transparent;

        path { @apply stroke-white; }

        &::before {
            @apply bg-white;
        }

        @media (hover: hover) {
            &:hover {
                @apply text-primary;
    
                path { @apply stroke-primary; }
            }
        }
    }

    &--white {
        @apply border border-white text-primary bg-white cursor-pointer;

        path { @apply stroke-primary; }

        &::before {
            @apply bg-primary;
        }

        @media (hover: hover) {
            &:hover {
                @apply border-primary text-white;

                path { @apply stroke-white; }
            }
        }
    }

    &--small {
        @apply w-[8rem] h-[8rem];

        svg { @apply w-[2.5rem] h-auto; }
    }
}