.cover--realisations {
    &__item {
        &-wrapper {
            @apply relative overflow-hidden;

            &__elem {
                @apply absolute top-0 left-0 w-full h-full overflow-hidden;

                .image--parallax {
                    @apply h-full;
                }

                &.active {
                    @apply z-10;
                }
            }

            &.js--transition-realisation {
                @apply overflow-hidden;
                
                @media (lg) {
                    @apply absolute top-[14rem] w-[45rem];
                    right: map-get($data, margins, l) + rem;
                }
            }
        }

        &-title,
        &-titleMobile {
            @apply absolute top-0;

            &:first-child {
                @apply relative;
            }

            &:not(:first-child) {
                opacity: 0;
            }

            &__number,
            &__text {
                position: absolute;
                left: 0;

                &:first-child {
                    position: relative;
                    display: inline-block;
                }
            }
        }
    }
}