figure {
    @apply overflow-hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.image {
    @apply relative;

    &--shader {
        @apply absolute top-0 left-0 w-full h-full z-10;

        .canvasContainer {
            @apply bg-primary;
        }
    }

    &--parallax {
        @apply overflow-hidden;

        & > div {
            @apply w-full h-full;

            --tw-scale-x: 1.2;
            --tw-scale-y: 1.2;
            transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        
            & > div {
                @apply w-full h-full;
            }
        }
    }
}