.slider {
    &--wrapper {
        counter-reset: count;

        @apply relative flex w-full h-full overflow-hidden;
    }

    &--item {
        counter-increment: count;
        
        @apply absolute top-0 left-0 w-full h-full overflow-hidden z-10;
    }

    &--nav {
        transform: translateY(calc(100% + 1rem));

        @apply absolute bottom-0 left-0 z-20;

        @media (min-width: 1024px) {
            transform: translate(calc(-100% - 1rem), 0);
        }
    }

    &-realisation {
        @apply sticky top-0;

        &--number {
            @apply relative w-max overflow-hidden pr-[1.1rem] mx-auto;
    
            &-item {
                @apply block absolute top-0 left-[1.1rem];
            }
        }
    
        &--title {
            @apply relative;
    
            div {
                @apply first:relative absolute top-0 first:left-0 left-1/2 w-max mx-auto first:translate-x-0 -translate-x-1/2;
            }
        }

        &--container {
            @apply lg:absolute top-0 left-0 z-20 w-full lg:w-[42.5%] h-full bg-primary overflow-hidden;
        }

        &--preview {
            @apply relative w-[31rem] h-[40rem] mx-auto;

            &-item {
                @apply absolute bottom-0 w-[31rem] h-[40rem] origin-bottom	;

                .button {
                    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[14rem] h-[14rem] bg-white text-primary;
                }
            }
        }
    
        &--wrapper {
            // @apply hidden lg:block absolute top-0 left-0 w-full h-full overflow-hidden;
            counter-reset: count;

            @apply hidden lg:block relative z-10 flex w-full h-full overflow-hidden;

            &-item {
                counter-increment: count;
        
                @apply absolute top-0 left-0 w-full h-full overflow-hidden z-10;

                .image { @apply w-full h-full; }
 
                .button {
                    @apply absolute bottom-[5rem] right-[5rem] z-20;
                }
            }
        }
    }
}