.slider {
    &--wrapper {
        counter-reset: count;

        @apply relative flex w-full h-full overflow-hidden;
    }

    &--item {
        counter-increment: count;
        
        @apply absolute top-0 left-0 w-full h-full overflow-hidden z-10;
    }

    &--nav {
        transform: translateY(calc(100% + 1rem));

        @apply absolute bottom-0 left-0 z-20;

        @media (min-width: 1024px) {
            transform: translate(calc(-100% - 1rem), 0);
        }
    }

    &-realisation {
        @apply sticky top-0;

        &--number {
            @apply relative w-max overflow-hidden pr-[1.5rem] mx-auto;
    
            &-item {
                @apply block absolute top-0 left-[1.5rem];
            }
        }
    
        &--title {
            @apply relative;
    
            div {
                @apply first:relative absolute top-0 first:left-0 left-1/2 w-max mx-auto first:translate-x-0 -translate-x-1/2;
            }
        }

        &--container {
            @apply lg:absolute top-0 left-0 z-20 w-full lg:w-[42.5%] h-full bg-primary overflow-hidden;
        }

        &--preview {
            position: relative;
            width: 31rem;
            height: 45rem;
            margin: 0 auto;

            &-item {
                position: absolute;
                bottom: 0;
                transform-origin: bottom;

                @apply w-[31rem] h-[43rem];
            }
        }
    
        &--wrapper {
            // @apply hidden lg:block absolute top-0 left-0 w-full h-full overflow-hidden;
            counter-reset: count;

            @apply hidden lg:block relative z-10 flex w-full h-full overflow-hidden;

            &-item {
                counter-increment: count;
        
                @apply absolute top-0 left-0 w-full h-full overflow-hidden z-10;
            }
        }
    }
}