.slider-circle {
    &--container { @apply relative; }

    &--nav { @apply absolute bottom-[7rem] left-1/2 z-20 -translate-x-1/2; }
    
    &--wrapper {
        @apply absolute top-xl left-1/2 z-10 -translate-x-1/2;

        &-content { @apply relative w-[40rem]; }
    }

    &--item { @apply absolute top-0 w-[40rem] text-center; }

    &--number { @apply text-primary; }

    &--title {
        @apply text-primary;

        &.words {
            .word {
                @apply inline-block overflow-hidden;

                span { @apply inline-block; }
            }
        }
    }

    &--svg {
        @apply relative z-10 flex w-max mx-auto;

        svg {
            overflow: initial;

            @apply lg:w-[66rem] h-auto;

            circle {
                stroke: rgba(165, 133, 97, 0.30);
    
                &#circlePath {
                    stroke: #A58561;
                    stroke-dasharray: 2100;
                    stroke-dashoffset: 21500;
                    transform-origin: center;
                    transform: rotate(-90deg);
                }
            }
        }
    }

    &--img {
        @apply absolute -z-10 w-[21.4rem] h-[25rem] overflow-hidden;

        &s {
            @apply absolute top-0 left-1/2;
        }

        .image {
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                background-color: rgba(255,255,255,0.4)
            }
        }
    }

    &--dot {
        @apply absolute top-0 left-1/2 w-[2rem] h-[2rem] flex items-center justify-center;
        
        @media (hover: hover) {
            &:hover {
                .slider-circle--dot__content {
                    @apply scale-100;
                }
            }
        }

        &__content {
            @apply w-[2rem] h-[2rem] bg-secondary border border-primary border-2 rounded-full scale-50 transition ease-in-out delay-150;
        }

        &.current {
            .slider-circle--dot__content {
                @apply scale-100;
            }
        }

        // &s { @apply absolute top-0 left-0 z-10 w-full h-full; }
    }
}