#bloc-content {
    &-1 {
        .bloc-content {
            &--title { @apply mt-[15rem]; }

            &-image {
                &-side {
                    @media (max-width: 1024px) {
                        right: 0;
                    }
    
                    right: -5rem;
                }
            }
        }
    }

    &-2 {
        .bloc-content {
            &-text {
                &-2 {
                    @media (min-width: 1024px) {
                        margin-top: -33rem;
                    }
                }
            }
        }
    }
}

.post-type-page {
    &:not(.home) {
        #bloc-content-1 {
            @apply pt-0;

            .bloc-content {
                &--title { @apply mt-0; }
            }

            .canvasContainer { @apply hidden; }
        }
    }
}