{% macro default(data) %}
    {% import "@components/image.twig" as image %}

    <section class="container container--custom my-xxxl" show-elements>
        {{ image.default(data.image, '', 'full', 'full-mobile') }}
    </section>
{% endmacro %}