{% macro default(data) %}
    {% import "@components/image.twig" as image %}

    <section id="bloc-realisation" class="relative container overflow-hidden my-xxl">
        <div class="relative z-10 grid grid-cols-8 lg:grid-cols-12 gap">
            <div class="flex items-end col-span-6 lg:col-span-3 lg:col-start-3 max-lg:order-2 max-lg:mb-m max-lg:mt-xl">
                <div class="lg:mb-[33rem] split">{{ data.texte }}</div>
            </div>
            <div class="col-span-7 lg:col-span-6 col-start-2 lg:col-start-7 max-lg:order-1 max-lg:-mr-[2rem]">
                {{ image.default(data.image_1, '', 'v-6col') }}
            </div>
            <div class="col-span-7 lg:col-span-5 lg:-mt-[30rem] max-lg:order-3 max-lg:-ml-[2rem]">
                {{ image.default(data.image_2, '', 'v-4col') }}
            </div>
        </div>
    </section>
{% endmacro %}