{% macro default(data) %}
    {% import "@components/image.twig" as image %}

    <section class="my-xxxl">
        <div class="container container--custom">
            <div class="grid grid-cols-8 lg:grid-cols-12 gap">
                <div class="col-span-8 lg:col-start-4">
                    {{ image.default(data.image, '', 'h-9col', '') }}
                </div>
            </div>
        </div>
        <div class="container mt-l lg:mt-[3rem]">
            <div class="grid grid-cols-8 lg:grid-cols-12 gap">
                <div class="col-span-6 lg:col-span-3 lg:col-start-4">
                    <div>{{ data.text }}</div>
                </div>
            </div>
        </div>
    </section>
{% endmacro %}