$data: (
  breakpoints: (
    s: 0,
    m: 768,
    l: 1024,
    xl: 1280,
    xxl: 1440
  ),
  gutters: (
    s: 1,
    m: 1,
    l: 1,
    xl: 1,
    xxl: 1
  ),
  margins: (
    s: 2,
    m: 2.5,
    l: 3.2,
    xl: 10,
    xxl: 20
  ),
  breakpointDesktop: l,
  rem: (
    s: 10px,
    xxl: scale
  ),
  colors: (
    dark: rgba(0,0,0,1),
    light: rgba(255,255,255,1),
    darksoft: rgba(0,0,0,.5),
    darkultrasoft: rgba(0,0,0,.2),
    lightsoft: rgba(255,255,255,.5),
    lightultrasoft: rgba(255,255,255,.2),
    primary: #A58561,
    primary-light: #FEF1EC,
    primary-dark: #8F7557,
    primary-opacity: rgba(165, 133, 97, 0.30),
    secondary: #EEEAE0,
    cta-light: rgba(238, 234, 224, 0.30),
    cta-dark: rgba(165, 133, 97, 0.30),
    grey: #696969
  ),
  fonts: (
    heading: (
      name: PP Eiko,
      serif: sans-serif
    ),
    primary: (
      name: PP Mori Book,
      serif: sans-serif
    )
  ),
  textStyles: (
    h1: (
      font-size: 5.5rem,
      line-height: 8rem,
      font-weight: 300,
      text-transform: uppercase
    ),
    h2: (
      font-size: 3.5rem,
      line-height: 5rem
    ),
    h3: (
      font-size: 3.2rem,
      line-height: 3.6rem
    ),
    h4: (
      font-size: 2.4rem,
      line-height: 2.8rem
    ),
    h5: (
      font-size: 2rem,
      line-height: 2.4rem
    ),
    titles: (
      font-weight: 400,
      font-family: "heading"
    ),
    body: (
      font-size: 1.6rem,
      line-height: 2.8rem,
      font-family: "primary"
    ),
    label: (
      font-size: 2rem,
      line-height: normal,
      font-family: "primary"
    ),
    big: (
      font-size: 8rem,
      line-height: 8rem,
      font-weight: 300,
      font-family: "heading",
      text-transform: uppercase
    ),
    mini: (
      font-size: 1.5rem,
      line-height: normal,
      font-weight: 400,
      font-family: "primary"
    ),
    custom1: (
      font-size: 4rem,
      line-height: 4rem,
      font-weight: 300,
      font-family: "heading"
    ),
    custom2: (
      font-size: 2rem,
      line-height: 3rem,
      font-weight: 300
    ),
    heading: (
      font-family: "heading"
    ),
    primary: (
      font-family: "primary"
    ),
    highlight: (
      font-size: 2.5rem,
      line-height: normal,
      font-weight: 400
    ),
    title-big: (
      font-size: 5rem,
      font-weight: 300,
      line-height: 8rem
    ),
    desktop: (
      h1: (
        font-size: 15rem,
        font-weight: 300,
        line-height: normal,
        text-transform: uppercase
      ),
      h2: (
        font-size: 6rem,
        font-weight: 300,
        line-height: 9rem
      ),
      h3: (
        font-size: 4rem,
        font-weight: 400,
        line-height: 5rem
      ),
      big: (
        font-size: 15rem,
        font-weight: 300,
        line-height: 19rem,
        text-transform: uppercase
      ),
      custom1: (
        font-size: 5.5rem,
        line-height: 8rem,
        font-weight: 300,
        font-family: "heading"
      ),
      custom2: (
        font-size: 1.8rem,
        line-height: 3rem,
        font-weight: 300
      ),
      title-big: (
        font-size: 8rem,
        font-weight: 300,
        line-height: 1
      )
    )
  ),
  spacings: (
    s: 0.4,
    m: 2,
    l: 5,
    xl: 8,
    xxl: 15,
    xxxl: 15,
    desktop: (
      s: 2,
      m: 5,
      l: 8,
      xl: 10,
      xxl: 20,
      xxxl: 20
    )
  ),
  maxColumns: (
    s: 8,
    m: 8,
    l: 12,
    xl: 12,
    xxl: 12
  ),
  columns: (
    s: 1,
    m: 2,
    l: 3,
    xl: 4,
    xxl: 4
  ),
  radius: 0.8
);
