<footer class="relative text-primary -mt-[13rem] lg:-mt-[14rem] pt-[14rem] overflow-hidden z-10">
    <div class="absolute w-[120rem] lg:w-[140vw] h-[120rem] lg:h-[72rem] bg-white max-lg:top-[3rem] lg:bottom-[5rem] lg:bottom-[5rem] left-1/2 -translate-x-1/2 -z-10 rounded-[74.5rem] lg:rounded-[50%]"></div>
    <div class="bg-white pb-[7rem]">
        <div class="container">
            <div class="grid grid-cols-8 lg:grid-cols-12 gap">
                <div class="col-span-8 lg:col-span-10 lg:col-start-2 relative">
                    <div class="relative z-20 ts-big text-center italic pb-[5rem] lg:pb-[14rem]">Créons ensemble votre futur chez vous !</div>
                </div>
            </div>
            <div class="grid grid-cols-8 lg:grid-cols-12 gap">
                <div class="col-span-8 lg:col-span-3 lg:col-start-2 mt-[5.2rem] max-lg:text-center max-lg:order-2">
                    <ul class="flex flex-col gap-[1rem]">
                        <li class="ts-custom2"><a href="">A propos</a></li>
                        <li class="ts-custom2"><a href="">Mes réalisations</a></li>
                        <li class="ts-custom2"><a href="">Contact</a></li>
                    </ul>
                    <div class="flex gap-[7.2rem]">
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                    </div>
                </div>
                <div class="col-span-8 lg:col-span-3 lg:col-start-6 mt-[5.2rem] max-lg:text-center max-lg:order-2">
                    <ul class="flex flex-col gap-[1rem]">
                        <li class="ts-custom2"><a href="">Crédit</a></li>
                        <li class="ts-custom2"><a href="">Mention légales</a></li>
                        <li class="ts-custom2">©Margot Jollit - Tous droits réservés</li>
                    </ul>
                </div>
                <div class="col-span-8 lg:col-span-3 lg:col-start-10 max-lg:order-1">
                    <a href="/contact" class="button button--light max-lg:mx-auto">Me contacter</a>
                </div>
            </div>
        </div>
    </div>
</footer>