@import 'core';

@import 'swiper/css';
@import 'flickity';

// layouts
@import 'layouts/Page.scss';
@import 'layouts/Single.scss';
@import 'layouts/Archive.scss';
@import 'layouts/Home.scss';

// components
@import 'components/welcome.scss';
@import 'components/animation.scss';
@import 'components/headroom.scss';
@import 'components/button.scss';
@import 'components/tag.scss';
@import 'components/card.scss';
@import 'components/accordion.scss';
@import 'components/cover.scss';
@import 'components/cover-realisation.scss';
@import 'components/image.scss';
@import 'components/next-realisation.scss';
@import 'components/slider.scss';
@import 'components/shader.scss';
@import 'components/contact.scss';
@import 'components/slider-circle.scss';
@import 'components/footer.scss';

// acf components
@import 'acf-components/section.scss';
@import 'acf-components/carousel-cards.scss';
@import 'acf-components/carousel-full.scss';
@import 'acf-components/bloc-content.scss';
@import 'acf-components/gallery-mozaik.scss';

// animation
:root {
    --animation-duration: 0.92s;
    --animation-timing: cubic-bezier(0.215, 0.61, 0.352, 1);
    --animation-property: 0.92s cubic-bezier(0.215, 0.61, 0.352, 1);
}

html,
body {
    @apply bg-secondary;
}

#app {
    &-body {
        opacity: 1;
        transition: opacity .3s ease;
    }

    &-content {
        position: sticky;
        bottom: 0;
        min-height: 100vh;
    }

    main {
        @apply relative;
    }
}

.hide-article {
    #app-body {
        opacity: 0;
    }
}

.aspect-h-2col { aspect-ratio: 213/160; }
.aspect-h-3col { aspect-ratio: 326/245; }
.aspect-h-4col { aspect-ratio: 439/350; }
.aspect-h-9col { aspect-ratio: 1002/630; }
.aspect-v-2col { aspect-ratio: 212/277; }
.aspect-v-3col { aspect-ratio: 326/426; }
.aspect-v-4col { aspect-ratio: 551/720; }
.aspect-v-6col { aspect-ratio: 664/886; }
.aspect-side { aspect-ratio: 263/868; }

.aspect {
    &-mozaik {
        &-1 {
            aspect-ratio: 160/106;

            @include desktop() {
                aspect-ratio: 263/175;
            }
        } 
        &-2 { aspect-ratio: 326/206; }
        &-3 { aspect-ratio: 213/213; }
        &-4 { aspect-ratio: 263/391; }
        &-5 { aspect-ratio: 213/172; }
        &-6 { aspect-ratio: 326/213; }
    }
}

.aspect-full {
    aspect-ratio: 1340/790;

    @media (max-width: 1024px) {
        &-mobile { aspect-ratio: 428/700; }
    }
}

.wysiwyg {
    h3 { @apply text-primary; }
}

.space-scroll {
    @apply h-[100vh] d:h-[75vh];
}