{% extends "base.twig" %}

{% block content %}
	<main role="main" data-taxi-view>
		<div style="height: 75vh"></div>
 		
		<div class="canvasContainer">
            <canvas class="canvas" __spector_context_type="webgl" width="2543" height="3526"></canvas>
        </div>
		
		<div id="app-content" class="post-type-{{ post.post_type }} {{ body_class }}">
			<div id="app-body">
				{% block pageContent %}{% endblock %}
			</div>
		</div>

		{% include "@components/footer.twig" %}
	</main>
{% endblock %}
