{% extends "base-page.twig" %}

{% import "@components/image.twig" as image %}
{% import "@acf-components/cover.twig" as cover %}
{% import "@acf-components/slider-realisation.twig" as sliderRealisation %}
{% import "@components/flex-content.twig" as flex %}

{% set data = function('get_fields') %}

{% block pageContent %}
    {{ cover.project(data.cover) }}

    <div class="component component--acf-flex-content">
        {{ flex.default(post.meta('content')) }}

        {{ sliderRealisation.default() }}

        <div class="page-compensation" style="height:20rem"></div>
    </div>

    {# 
    <section class="container my-xxxl" show-elements>
        <div class="grid grid-cols-8 lg:grid-cols-12 items-end gap-[5rem] lg:gap-[1.2rem]">
            <div class="col-span-8 lg:col-span-4 lg:col-start-2 max-lg:order-2">
                <h3 class="text-primary mb-m">01 - Singularité</h3>
                <p>L'appartement a été travaillé dans un style Mid Century, se concentrant davantage sur des espaces épurés, des lignes pures sans fioriture et des pièces décloisonnées. Nous avons composé le design avec d’éléments aux couleurs neutres, dans des tons chauds de brun, de crème, de beige et de blanc.
                    On y retrouve aussi des teintes de bois mêler à de joli lustre en fer forgé, élégant et délicat à la fois.</p>
            </div>
            <div class="col-span-8 lg:col-span-6 lg:col-start-7 max-lg:order-1">
                <figure class="w-full">
                    <img class="aspect-video lg:aspect-[340/395]" src="https://margot-jollit.matthiasbenoit.fr/wp-content/uploads/2023/09/1-21-sur-25.jpg" alt="">
                </figure>
            </div>
        </div>
    </section>

    <section class="container my-xxxl" show-elements>
        <div class="grid grid-cols-8 lg:grid-cols-12 items-center gap-y-[8rem] lg:gap-[1.2rem]">
            <div class="col-span-8 lg:col-span-3 lg:col-start-2">
                <div class="max-lg:flex flex-col w-full">
                    <figure class="order-2">
                        <img class="aspect-video" src="https://margot-jollit.matthiasbenoit.fr/wp-content/uploads/2023/09/1-21-sur-25.jpg" alt="">
                    </figure>

                    <div class="mb-xxl lg:mt-xxl order-1">
                        <p>Un pied-à-terre sur la région Lyonnaise, les clients ont souhaité faire de cet appartement une suite entièrement ouverte. Ce choix permet d'obtenir ainsi un volume dégagé et éclairé avec l'intégration d'une verrière dans la salle de bain.</p>
                    </div>
                </div>
            </div>
            <div class="col-span-8 lg:col-span-3 lg:col-start-6">
                <div class="mb-xxl">
                    <p>L'appartement a été travaillé dans un style Mid Century, se concentrant davantage sur des espaces épurés, des lignes pures sans fioriture et des pièces décloisonnées. Nous avons composé le design avec d’éléments aux couleurs neutres, dans des tons chauds de brun, de crème, de beige et de blanc.
                        On y retrouve aussi des teintes de bois mêler à de joli lustre en fer forgé, élégant et délicat à la fois.</p>
                </div>
                <figure>
                    <img class="aspect-video lg:aspect-[335/408]" src="https://margot-jollit.matthiasbenoit.fr/wp-content/uploads/2023/09/1-21-sur-25.jpg" alt="">
                </figure>
            </div>
            <div class="col-span-2 col-start-10 max-lg:hidden">
                <figure class="rounded-t-[20rem]">
                    <img class="aspect-[109/130]" src="https://margot-jollit.matthiasbenoit.fr/wp-content/uploads/2023/09/1-21-sur-25.jpg" alt="">
                </figure>
            </div>
        </div>
    </section>#}

    {# {{ post.post_content }} #}
{% endblock %}