{% extends "base-page.twig" %}

{% import "@components/flex-content.twig" as flex_content %}
{% import "@acf-components/cover.twig" as cover %}
{% import "@acf-components/slider-realisation.twig" as sliderRealisation %}

{% set data = function('get_fields') %}

{% block pageContent %}
	<div class="component component--acf-flex-content">
		{% if data.display %}
			{{ cover.pageAdvance(data.cover_advance) }}
		{% else %}
			{{ cover.page(data.cover) }}		
		{% endif %}
		

		{{ flex_content.default(post.meta('content')) }}

		{{ sliderRealisation.default() }}

        <div class="page-compensation" style="height:20rem"></div>
    </div>
{% endblock %}
