{% extends "base-realisation.twig" %}

{% import "@components/flex-content.twig" as flex %}

{% block pageContent %}
    <div class="cover">
        <figure class="cover--back">
            <img class="aspect-[4/3]" src="{{ post.thumbnail.src }}" alt="">
        </figure>
        
        <div class="cover--container">
            <div class="cover--title" show-elements>
                <h1 class="split animation--text split" show-element>{{ post.title }}</h1>
                <div class="text-center ts-h3">Le projet</div>
            </div>
        </div>

        <div class="cover--infos" show-elements>
            <div class="container cover--list">
                <div class="cover--infos--content grid grid-cols-8 lg:grid-cols-12">
                    <div class="col-span-8 lg:col-span-2 cover--info">
                        <div class="cover--label">Surface</div>
                        <div class="cover--value ts-heading">37m2</div>
                    </div>
                    <div class="col-span-8 lg:col-span-2 cover--info">
                        <div class="cover--label">Année</div>
                        <div class="cover--value ts-heading">2021</div>
                    </div>
                    <div class="col-span-8 lg:col-span-2 cover--info">
                        <div class="cover--label">Lieu</div>
                        <div class="cover--value ts-heading">Lyon 07</div>
                    </div>
                    <div class="col-span-8 lg:col-span-2 cover--info">
                        <div class="cover--label">Surface</div>
                        <div class="cover--value ts-heading">37m2</div>
                    </div>
                    <div class="col-span-8 lg:col-span-2 cover--info">
                        <div class="cover--label">Année</div>
                        <div class="cover--value ts-heading">2021</div>
                    </div>
                    <div class="col-span-8 lg:col-span-2 cover--info">
                        <div class="cover--label">Lieu</div>
                        <div class="cover--value ts-heading">Lyon 07</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="component component--acf-flex-content">
        {{ flex.default(post.meta('content')) }}
    </div>
{% endblock %}
